@charset "utf-8";

/* Mobile Version */
@media only screen and (max-width: 700px) and (min-width: 601px) {
    
    main .link a button {
        width: 50vw;
    }
}

@media only screen and (max-width: 600px) {
    
    main .link a button {
        width: 75vw;
    }

    footer {
        padding: 2rem;
    }
}