@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
}

html a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

:root {
    --font: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;

    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 3rem;
    background-color: #161616;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 20rem;
    border-radius: 50%;

    margin: 1rem;
    padding: 1rem;
}

header h1 {
    font-size: 2.2rem;
    color: white;
}

header h2 {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .link {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1rem;
}

main .link a button {
    width: 40vw;
    height: 1rem;

    padding: 3rem;
    border-radius: 1rem;

    background-color: #3B3B3B;

    display: flex;
    align-items: center;
    justify-content: left;

    -webkit-box-align: center;
    -webkit-box-pack: center;

    transition: .2s;
}

main .link a button i {
   font-size: 2.6rem;
   color: white;
}

main .link a button span {
    font-family: var(--font);
    font-size: 1.7rem;
    font-weight: 500;
    color: white;

    margin: 0 auto;
}

main .link a button:hover {
    cursor: pointer;

    transform: scale(1.05);
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    color: white;
    text-align: center;

    margin-top: 2rem;
    padding-bottom: 2rem;
}